.clip{
    -webkit-clip-path: polygon(0% 0%, 71% 0, 83% 47%, 77% 100%, 0% 100%);
clip-path: polygon(0% 0%, 71% 0, 83% 47%, 77% 100%, 0% 100%);

    /* -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 19% 100%, 8% 59%, 13% 22%);
clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 19% 100%, 8% 59%, 13% 22%); */
}

    @media (max-width: 768px) {
        .clip {
            -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 70%, 54% 89%, 0 75%);
            clip-path: polygon(0% 0%, 100% 0, 100% 70%, 54% 89%, 0 75%); }
      }

.flip{
    transform: scaleX(-1)
}
.spacer {
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }